.Form1-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Form1-title h1{
    font-size: x-large;

}

.sign{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.Form1-body{
    display: flex;
    flex-direction: column;
}
.Form1-left{
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: rgb(250,250,250);
    border: 1px solid #e8e8e8;
}
.Form1-left text{
    writing-mode: vertical-lr;
    height: 200px;
}
.Form1-left-content{
    display: flex;
}
.Form1-body>text{
    font-size: initial;
    font-weight: bold;
    padding-bottom: 5px;
}
.Sample-State{
    display: flex;
    flex-direction: column;
}
.Sample-State-content{
    display: flex;
    justify-content: space-between;
}
.Sample-State-content Radio.Group{
    display: flex;
    justify-content: space-between;
}
.Descriptions{
    width: 750px;
}
