.CharForm-contain{
    
}
.CharForm-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.Tabs{
    width: 100%;
    height: 100%;
    align-self: flex-start;
}
.Idcard{
    align-self: baseline;
}
.Idcard-content{
    display: flex;
    flex-direction: column;
}
.CharForm-Idcard{
    display: flex;
    flex-direction: column;
    height: 1350px;
    justify-content:space-between;
}
.CharForm-button{
    align-self: flex-end;
    justify-items: flex-end;
}
.CharForm-button-404{
    background-color: white;
    border-color: white;
    color: rgb(250, 250, 250);
    border: 0px;
}